.arrow {

	position: relative;

	display: inline-block;
	width: 154px;
	height: 154px;
	margin: -76px 10px 0;

	opacity: 1;


	transform: translate3d(0, 0, 0);
	transition: all 250ms;

	&:before, &:after {

		// Positioning
		position: absolute;

		// Display & Box Model
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;

		background-repeat: no-repeat;
		background-size: cover;
		background-color: #fff;

		background-blend-mode: normal;

		transition: all 150ms;
		// Other
		content: "";
	}

	&:before {

		background-blend-mode: luminosity;
	}


	&.is-blurred {
			opacity: 0.5;
		&:after {

			opacity: 0;
			transform: scale(0.9);
		}
	}


	&:after {

		opacity: 1;
		transform: scale(1);
	}

	&.is-hidden {

		transition: none;
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}
}


.arrow--up:after, .arrow--up:before { background-image: url(/assets/images/arrow-up.png); }
.arrow--left:after, .arrow--left:before { background-image: url(/assets/images/arrow-left.png); }
.arrow--right:after, .arrow--right:before { background-image: url(/assets/images/arrow-right.png); }
.arrow--down:after, .arrow--down:before { background-image: url(/assets/images/arrow-down.png); }
